* {
    box-sizing:border-box;
}
main{
    width: 100%;
    padding: 60px 80px 80px;
}
div{
    width: 209px;
    margin: 29px auto;
    padding: 8px 16px;
    border-radius: 8px;
    background: #f4f0ea;
    outline: 8px solid #b4a078;
    /* outline-offset:4px; */
}
input{
    /* margin-left: calc(50%); */
    /* 注意函数里运算符的左右两边必须有空格 */
    margin-left: calc(50% - 45px); 
}
input:checked ~ div {
    box-shadow: 0 0 0 5px #b4a078;
}